.scrollingTextContainer {
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    /* border: 1px solid #ccc; /* Optional: for better visualization */
}

.scrollingText {
    display: inline-block;
    white-space: nowrap;
    /* CSS variable for container width */
    /* --container-width: 100%; /* Default value */
}

.scroll {
    animation: scroll 10s linear infinite;
}

.scrollBackForth {
    animation: scrollBackForth 10s linear infinite;
}

@keyframes scroll {
    25% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(calc(-100% - 20px));
    }
}

@keyframes scrollBackForth {
    0% {
        transform: translateX(0%);
    }
    5% {
        transform: translateX(0%);
    }
    45% {
        transform: translateX(calc(-100% - 5px + var(--container-width)));
    }
    55% {
        transform: translateX(calc(-100% - 5px + var(--container-width)));
    }
    95% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(0%);
    }
}
