/* DOM STYLING */
.input-wrap {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.input-wrap > p {
    background: none;
    border: none;
    /* height: 100%; */
    width: 100%;
    padding: 22px 3px 0px 12px;
    font-size: 17px;
    border-radius: 12px;
    margin: 0;
    /* line-height: 100%;
    display: table-cell;
    vertical-align: middle; */
}
.input-wrap > label {
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    top: 7px;
    left: 12px;
    color: var(--bg900);
}
