#Drawer {
    position: fixed;
    top: 0;
    height: 100%;
    /* width: 34vw; */
    width: 350px;
    /* width: 100%; */
    transition: 0.4s ease-in;
    background: var(--bg300);
    z-index: 98;
    overflow: hidden;
    box-shadow: var(--shadow000);
}
.heading {
    padding: 1rem 2rem 1rem 2rem;
    background: var(--bg100);
    font-size: 13px;
    margin-top: 52px;
}
.body {
    /* padding: 2rem 2rem 1rem 2rem; */
    /* padding: 2rem 0; */
    height: 100%;
}
.body p {
    margin: 0;
}
