.formBox {
    border: 1px solid var(--text);
    border-radius: 12px;
    padding: 1rem;
    width: 360px;
}

.formBox h1 {
    margin: 0 0 2rem 0;
}

.form {
}

.inputWrap {
    margin-bottom: 0.75rem;
}

.inputWrap > input {
    width: 100%;
}

.form-error {
}

.buttonWrap {
    margin: 1.5rem 0;
}

.buttonWrap button {
    border-radius: 3px;
    padding: 0.33rem 0.75rem;
}

.changeTab {
    cursor: pointer;
    margin: 0;
    font-size: 13px;
    color: var(--bg900);
}
.changeTab:hover {
    text-decoration: underline;
    color: var(--text);
}
