/* DOM STYLING */
.input-wrap {
    height: 64px;
    border-radius: 12px;
    position: relative;
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.input-wrap > input {
    background: none;
    border: none;
    height: 100%;
    padding: 22px 3px 0px 12px;
    font-size: 17px;
    border-radius: 12px;
    /* color: var(--bg800); */
}
.input-wrap > input::placeholder {
    font-style: italic;
    color: var(--bg500);
}
.input-wrap > input:focus-visible {
    outline: none;
}
.input-wrap > label {
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    top: 7px;
    left: 12px;
    color: var(--bg900);
}

/* SUB WRAP - unique for this component */
/* not anymore! cloned for InputSocials */
.input-sub-wrap {
    margin: 15px calc(15px + 64px) 0 15px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* padding: 6px 12px; */
    background: var(--bg300);
    /* align-items: center; */
    outline: 1px solid var(--bg600);
    padding: 6px 0;
}
.input-sub-wrap-row {
    display: flex;
    align-items: center;
    margin: 6px 12px;
}
.input-sub-wrap-row > input {
    margin-right: 10px;
    padding: 10px 12px 10px 12px;
    border-radius: 9px;
    background: var(--bg300);
    color: var(--bg700);
}
.input-sub-wrap-row > input:hover,
.input-sub-wrap-row > input:focus {
    background: var(--bg300);
    color: var(--bg800);
    /* box-shadow: 0px 0px 5px 0.5px var(--text); */
    /* border: none; */
    outline: none;
}
.input-sub-wrap-row > button {
    height: 37px;
    padding: 5px 12px;
    background: var(--bg300);
    color: var(--bg900);
}
.input-sub-wrap-row > button:hover,
.input-sub-wrap-row > button:focus {
    background: var(--bg400);
    /* outline: 1px solid var(--bg700); */
    box-shadow: 0px 0px 5px 0.5px var(--text);
    /* border: none; */
    outline: none;
}
