/* DYNAMIC ROOT STATES */
.input-ready {
    outline: 1px solid var(--bg600);
    background: var(--bg300);
}
.input-ready:hover {
    outline: 1px solid var(--bg700);
}
.input-error {
    outline: 1px solid var(--dangerBg000);
    /* color: var(--dangerBg100); */
    background: var(--dangerBg300);
}
/* 
• MAKE GLOBAL? BUT WE NEED STYLE FOR BASIC COMPONENT 
• WE NEED TO ACCEPT OVERWRITE WITH USER STYLING
*/

/* DOM STYLING */
.input-wrap {
    height: 64px;
    border-radius: 12px;
    position: relative;
}
.input-wrap > input {
    background: none;
    border: none;
    height: 100%;
    padding: 22px 3px 0px 12px;
    font-size: 17px;
    border-radius: 12px;
    /* color: var(--bg800); */
}
.input-wrap > input:focus-visible {
    outline: none;
}
.input-ready > input {
    color: var(--bg700);
}
.input-ready:hover > input {
    color: var(--bg800);
    outline: none;
}
.input-ready > input:focus {
    color: var(--text);
    outline: 1px solid var(--bg600);
}

.input-wrap > label {
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    top: 7px;
    left: 12px;
    color: var(--bg900);
}

/* FORM ERROR */
.form-error {
    background: var(--bg300);
    color: var(--dangerBg100);
    outline: 1px solid var(--dangerBg100);
    padding: 0.2rem 0.75rem 0.4rem 0.75rem;
    font-size: 13px;
    /* letter-spacing: 0.01rem; */
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 12px;
}
