#UserNotes {
    padding: 0.75rem 0.5rem;
    width: 100%;
    /* margin-top: var(--size700); */
    display: flex;
    flex-wrap: wrap;
    /* row-gap: var(--size700); */
    row-gap: 0.5rem;
    justify-content: space-between;
}

.box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-row-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-column-gap: 0.5rem;
    column-gap: 0.5rem;
    /* margin-right: var(--size500); */
    margin-right: 2rem;
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    box-shadow: var(--shadow000);
    margin-bottom: 1rem;
    /* padding-left: 25px; */
    border-left: 2px solid var(--text);
    width: 100%;
    background: var(--bg600);
}

#UserNotes textarea {
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    width: 100%;
    max-height: 480px;
    padding: 0.5rem;
    grid-column-start: 1;
    grid-column-end: 5;
}
