/*** GENERAL STYLES ***/
.inputRow {
    --base-text: var(--text);
    --base-text-secondary: var(--text-secondary);
    --base-bg000: var(--bg000);
    --base-bg100: var(--bg100);
    --base-bg200: var(--bg200);
    --base-bg300: var(--bg300);
    --base-bg400: var(--bg400);
    --base-bg500: var(--bg500);
    --base-bg600: var(--bg600);
    --base-bg700: var(--bg700);
    --base-bg800: var(--bg800);
    --base-bg900: var(--bg900);
    --shadow: var(--shadow000);
    --base-error000: var(--dangerBg000);
    --base-error100: var(--dangerBg200);

    --placeholder-text: var(--base-bg700);
    --label-text: var(--base-bg900);
    --select-option-bg: var(--base-bg200);
    --select-option-text: var(--base-text-secondary);

    --input-ready-bg: var(--base-bg300);
    --input-ready-text: var(--base-bg900);
    --input-ready-outline: 1px solid var(--base-bg600);
    --input-ready-bg-hover: var(--base-bg400);
    --input-ready-text-hover: var(--base-text);
    --input-ready-outline-hover: 1px solid var(--base-bg800);
    --input-ready-text-focus: var(--base-text);
    --input-ready-bg-focus: var(--base-bg400);
    --input-ready-outline-focus: 1px solid var(--base-bg900);

    --input-error-bg: var(--base-error100);
    --input-error-outline: 1px solid var(--base-error000);

    --error-message-bg: none;
    --error-message-text: var(--base-error000);
    --error-message-outline: 1px solid var(--base-error000);

    --input-disabled-bg: var(--base-bg500);
    --input-disabled-text: var(--base-bg600);
    --input-disabled-outline: 1px solid var(--base-bg600);

    --layout-button-bg: var(--base-bg400);
    --layout-button-text: var(--base-bg900);
    --layout-button-outline: 1px solid var(--base-bg700);
    --layout-button-bg-hover: var(--base-bg300);
    --layout-button-outline-hover: 1px solid var(--bg700);
}

.inputWrap {
    height: 54px;
    position: relative;
    display: flex;
    align-items: center;
}
.extendendInputWrap {
    height: 54px;
    display: grid;
    grid-template-columns: auto 64px;
}
.extendendInputWrap > .input {
    margin-right: 15px; /* only for InputFake layout */
    display: flex;
    align-items: center;
    width: auto;
}
.complexInputWrap {
    height: 54px;
    display: grid;
    grid-template-columns: 1fr auto; /* 1fr 150px; */
}

.input {
    background: none;
    border: none;
    height: 100%;
    width: 100%;
    font-size: 15px;
    border-radius: 12px;
    position: relative;
}
input.input {
    padding: 22px 3px 0 12px;
}
select.input {
    padding: 22px 12px 0px 12px;
    margin-right: 12px;
    cursor: pointer;
}
select.input option {
    color: var(--select-option-text);
    background: var(--select-option-bg);
}
.input:focus-visible {
    outline: none;
    border: none;
}
.input::placeholder {
    font-style: italic;
    color: var(--placeholder-text);
}
.label {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    top: 6px;
    left: 12px;
    letter-spacing: 0.5px;
    color: var(--label-text);
}

/*** INPUT STATUS STYLES ***/
.input-ready {
    outline: var(--input-ready-outline);
    background: var(--input-ready-bg);
    color: var(--input-ready-text);
}
.input-ready:hover {
    outline: var(--input-ready-outline-hover);
    /* outline: none; */
    color: var(--input-ready-text-hover);
    background: var(--input-ready-bg-hover);
}
.input-ready:active,
.input-ready:focus {
    color: var(--input-ready-text-focus);
    outline: var(--input-ready-outline-focus);
    box-shadow: var(--shadow);
    border: none;
}
.input-disabled {
    outline: var(--input-disabled-outline);
    background: var(--input-disabled-bg);
    color: var(--input-disabled-color);
    cursor: not-allowed;
}
.input-error {
    outline: var(--input-error-outline);
    background: var(--input-error-bg);
}

/*** INPUT STATUS ELEMENTS ***/

.fake-value {
    color: var(--input-ready-text);
    width: 100%;
    height: 100%;
    padding: 22px 3px 0px 12px;
    font-size: 15px;
    line-height: 32px;
    margin: 0;
}
.input-ready:hover > .fake-value {
    color: var(--input-ready-text-hover);
    outline: none; /* ? */
}
.layout-button {
    height: 100%;
    padding: 15px 19px;
    border-radius: 12px;
    background: var(--layout-button-bg);
    color: var(--layout-button-text);
    border: none;
    font-weight: bold;
    width: 64px;
    outline: var(--layout-button-outline);
}
.layout-button:hover {
    background: var(--layout-button-bg-hover);
    outline: var(--layout-button-outline-hover);
    border: none;
    box-shadow: var(--shadow);
}
.layout-button:active,
.layout-button:focus {
    background: var(--input-ready-bg-focus);
    border: none;
    box-shadow: var(--shadow);
}

/*** ERROR MESSAGE ***/
.error-message {
    background: var(--error-message-bg);
    color: var(--error-message-text);
    outline: var(--error-message-outline);
    padding: 0.2rem 0.75rem 0.4rem 0.75rem;
    font-size: 13px;
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    border-radius: 12px;
    font-weight: bold;
}

/*** INPUT IMAGE ***/
/* Input */
.imageInputWrap {
    border-radius: 12px;
    width: 250px;
    height: 200px;
    position: relative;
    outline: 1.5px dashed var(--input-disabled-outline);
    color: var(--placeholder-text);
    background-color: var(--input-ready-bg);
    /* cursor: pointer; */
}
.imageInputWrap > input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    border: none;
}
.imageInputWrap > label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    /* color: var(--placeholder-text);
    background-color: var(--input-ready-bg); */
    /* display: inline-block; */
    transition: 0.15s ease-out;
    height: 100%;
    width: 100%;
    border-radius: 12px;
}
.imageInputWrap:hover {
    outline: 1.5px dashed var(--placeholder-text);
    color: var(--input-ready-outline-hover);
    /* background-color: var(--input-disabled-bg); */
}

/* TESTING 👇 */
.imageInputWrap > input:focus + label {
    /* background: var(--input-ready-bg-focus); */
    border: none;
    outline: none;
    box-shadow: var(--shadow);
}
/* TESTING ☝️ */

.imageInputWrap > label:hover {
    /* color: var(--input-ready-outline-hover); */
    /* background-color: var(--input-disabled-bg); */
}
.imageInputWrap > label > span:first-child {
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    top: 7px;
    left: 12px;
    color: var(--input-ready-text);
    letter-spacing: 0.5px;
}
.imageInputWrap > label > span:nth-child(2) {
}
/* Image */
.imageWrap {
    width: 250px;
    height: 200px;
    position: relative;
}
.imageWrap > img {
    border-radius: 12px;
}
.imageWrap > .deleteImage {
    background-color: var(--input-ready-text);
    color: var(--input-disabled-bg);
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 5;
    cursor: pointer;
    width: 26px;
    height: 26px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    /* transition: 0.125s ease; */
    outline: 1px solid;
}
.imageWrap > .deleteImage:hover {
    background-color: var(--input-ready-bg-focus);
    color: var(--base-text);
}
