/* eliminare o muovere questa class 👇🧠 */
.form {
    display: grid;
    grid-template-rows: 1fr 100px;
    /*  grid-template-columns: 160px 1fr; */
    height: 100%;
    /* max-height: 100%; */
    /* max-height: 380px; */
    /* width: 420px; */
    padding-left: 1.5em;
    font-size: 15px;
}

.body {
    height: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow-y: auto;
    padding-right: 2rem;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.footer {
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    border-top: 1px solid var(--bg600);
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem 0.5rem 0;
}

.form h4 {
    margin: 0 1em 0 0;
    color: var(--bg900);
}
.form input {
    width: 100%;
    /* width: 250px; */
    /* margin: 0 2em 0 0; */
}

.buttons-box {
    margin: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.buttons-box button {
    cursor: pointer;
    height: 60px;
    width: 200px;
    font-weight: bold;
    font-size: 15px;
    background: var(--bg900);
    color: var(--bg200);
}
.buttons-box button:hover,
.buttons-box button:focus {
    /* background: var(--text-secondary);
    color: var(--bg000); */
    color: var(--text-secondary);
    background: var(--bg400);
    box-shadow: 0px 0px 5px 0.5px var(--text);
    border: none;
    outline: none;
}

/* FORM INPUTS RE-STYLING */
.form-row {
    padding: 18px 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* grid-column-start: 1;
    grid-column-end: 3; */
}
.form-row-full {
    padding: 18px 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}
.form-row-half {
    padding: 18px 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}
.form-row-third {
    padding: 18px 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 33%;
}
.form-row-fourth {
    padding: 18px 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 25%;
}

.formDrawerWrap {
    /* position: relative;
    padding: 0.5rem;
    top: 0; */
    height: 100%;
    width: 100%;
    /* transition: 0.4s ease-in;
    background: var(--bg300);
    border-radius: 25px;
    z-index: 3;
    overflow: hidden; */
}

.formDrawerTopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 10;
    padding: 15px;
}

.formDrawerTopBar > .sideNavHeading > p:nth-child(1) {
    font-weight: bold;
    margin: 0 0 0.25rem 0;
}
.formDrawerTopBar > .sideNavHeading > p:nth-child(2) {
    font-size: 12px;
    color: var(--bg800);
    margin: 0;
}

.sidewrapContent {
    height: 95%;
    /* height: 425px; */
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

.wrapper {
    padding: 0.5rem 0.5rem 0 0.5rem;
    /* border-radius: 4px; */
    border: 1px solid var(--bg800);
    background: var(--bg200);
    width: 100%;
    /* display: flex;
    flex-direction: column; */
    overflow-y: auto;
    /* align-items: flex-end; */
}
.sidewrapContent > .wrapper:nth-child(1) {
    padding-right: 1rem;
}
.sidewrapContent > .wrapper:nth-child(2) {
    border-left: 1px solid var(--bg800);
    padding-left: 1rem;
}

.sidewrapHeader {
    /* height: 80px; */
    grid-row-start: 1;
    grid-row-end: 2;
    background: var(--bg200);
}
.sidewrapHeader > .wrapper {
    height: 100%;
    padding: 0.5rem;
}

.formSideNavSearchBar {
    display: grid;
    grid-template-columns: 1fr auto;
}

.sidewrapBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: 1fr auto; */
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: hidden;
}

/* FormSideHints */
#FormSideHints {
    padding: 0;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr) 30px;
}
#FormSideHints > .formDrawerTopBar {
    /* height: 100%; */
    /* max-height: 50%; */
    align-items: stretch;
    padding: 0;

    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
#FormSideHints > .formDrawerTopBar > .wrapper {
    width: 50%;
    overflow-y: hidden;
    height: 100%;
    padding: 0.5rem;
}
#FormSideHints > .formDrawerTopBar > .wrapper:nth-child(1) {
    border-radius: 25px 0 0 0;
}
#FormSideHints > .formDrawerTopBar > .wrapper:nth-child(2) {
    border-radius: 0 25px 0 0;
}

/* 🧠🧠🧠 MAKE GRID INSTEAD OF FLEX  🧠🧠🧠 */

/*** HINTS ***/
.hintsListWrap {
    font-size: 12px;
    height: 100%;
    /* serve grid ? */
    display: grid;
    grid-template-rows: repeat(13, 1fr);
}

.hintsListHeader {
    border-bottom: 1px solid var(--bg800);
    padding: 0 0.25rem 0.25rem 0.25rem;
    grid-row-start: 1;
    grid-row-end: 4;
}

.hintsListHeader > p:first-child {
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 0.2rem 0;
}

.hintsListHeader > p:nth-child(2) {
    font-size: 11px;
    color: var(--bg800);
    margin: 0.15rem 0 0.15rem 0;
    line-height: 13px;
}

.hintsListWrap > .hintsListFormWrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-row-start: 4;
    grid-row-end: 14;
}
.hintsListWrap > .hintsListFormWrap > form {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: 100%;
}
.hintsListWrap > .hintsListFormWrap > form > .hintsWrap {
    /* height: 150px; */
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 0.25rem;

    /* border: 1px solid var(--bg800); */
    background: var(--bg300);
}
.hintsListWrap > .hintsListFormWrap > form > .hintsWrap > div {
    margin: 0.1rem 0;
}
.hintsListWrap > .hintsListFormWrap > form > .buttonsWrap {
    justify-self: flex-end;
    border-top: 1px solid var(--bg800);
    padding-top: 0.5rem;
}
.hintsListWrap > .hintsListFormWrap > form > .buttonsWrap > button {
    border-radius: 4px;
    /* width: 70px; */
    margin: 0 0.25rem;
    font-size: 12px;
    /* TODO 🧠🧠🧠 */
}
.hintsListWrap > .hintsListFormWrap > form > .buttonsWrap > button:first-child {
    margin: 0 0.25rem 0 0;
}

.finalResultWrap {
    padding: 0.5rem 0.5rem 0 0.5rem;
    /* border-radius: 4px; */
    border: 1px solid var(--bg800);
    background: var(--bg200);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
}

.hintsListBody {
    font-size: 12px;
}
.hintsListBody p {
    margin: 0.15rem 0;
}
.finalResultElement {
}
.missingElement {
    color: green;
}
.removedElement {
    color: red;
    text-decoration: line-through;
}

.sideHintsFooter {
    /* padding: 0.5rem; */
    border-radius: 0 0 25px 25px;
    border: 1px solid var(--bg800);
    background: var(--bg200);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    /* justify-self: flex-end; */
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
}
.sideHintsFooter > button {
    font-weight: bold;
    height: 100%;
    border-radius: 0 0 25px 25px;
    width: 100%;
}

/* NEW STYLES */

.form-subheading {
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid var(--text);
    margin: 1.5rem 0 1rem 0;
}
.form > .body > .form-subheading:first-child {
    margin-top: 0;
    padding-top: 0;
}
.form-subheading > h5 {
    margin: 0;
}
