/* FORM */
.formWrapContainer {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.formWrap {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
}
.formWrap > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--bg600);
    margin-bottom: 2em;
    /* padding: 0 1em; */
}
.formWrap > div:nth-child(1) > h2 {
    margin: 1em 0;
}

.form {
    display: grid;
    grid-template-columns: 160px 1fr;
    max-height: 380px;
    /* width: 420px; */
    overflow-y: auto;
    padding-right: 2em;
    font-size: 15px;
}

.form h4 {
    margin: 0 1em 0 0;
    color: var(--bg900);
}
.form input {
    width: 100%;
    /* width: 250px; */
    /* margin: 0 2em 0 0; */
}

.form-col-left,
.form-col-right {
    margin-bottom: 1em;
}
.form-col-right {
    /* display: flex; */
    width: 250px;
}

.input-and-btn-wrap {
    width: 100%;
    display: flex;
}
.input-and-btn-wrap > button {
    width: 40px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 0.8em;
    padding: 0;
    border-radius: 3px;
}

.user-image-input {
    width: 250px;
    height: 200px;
    position: relative;
    border: 1px solid var(--bg700);

    /* cursor: pointer; */
}
.user-image-input > input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.user-image-input > label {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    color: var(--text);
    background-color: var(--bg400);
    /* display: inline-block; */
    transition: 0.2s ease-out;
    height: 100%;
    width: 100%;
}
.user-image-input:focus > label,
.user-image-input > label:hover {
    background-color: var(--bg500);
}

.form-new-image {
    width: 250px;
    height: 200px;
    position: relative;
}

.form-delete-image {
    background-color: var(--text);
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 5;
    cursor: pointer;
    width: 26px;
    height: 26px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.form-selector-interaction-box {
    display: flex;
    justify-content: space-between;
    /* margin-right: 2em; */
    width: 250px;
}
.form-selector-interaction-box > div:nth-child(2) {
    cursor: pointer;
    background: var(--bg800);
    border-radius: 3px;
    font-size: 12px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-selector-interaction-box > div:nth-child(2):hover {
    background-color: var(--bg700);
}

.buttons-box {
    margin-top: 1rem;
}
.buttons-box button {
    cursor: pointer;
    height: 2rem;
    width: 5rem;
}

/* SIDE WRAP */
.sidewrap {
    position: relative;
    padding: 0.5rem;
    top: 0;
    height: 100%;
    width: 100%;
    transition: 0.2s ease-in;
    background: var(--bg300);
    /* background: var(--bg200); */
    border-radius: 25px;
    z-index: 3;
    overflow: hidden;
    /* border-left: 1px solid var(--text); */
}
.sidewrap > .nav {
    display: flex;
    align-items: center;
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    z-index: 10;
    padding: 15px;
}

.sidewrap > .nav > .sideNavHeading > p:nth-child(1) {
    font-weight: bold;
    margin: 0 0 0.25rem 0;
}
.sidewrap > .nav > .sideNavHeading > p:nth-child(2) {
    font-size: 12px;
    color: var(--bg800);
    margin: 0;
}

.sidewrap > .nav > span {
    float: right;
    margin-left: auto;
    cursor: pointer;
    line-height: 30px;
}
.sidewrap > .nav > span:hover {
    font-weight: bold;
}

.sidewrapContent {
    height: 425px;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr;
}

.sidewrapHeader {
    /* height: 80px; */
    grid-row-start: 1;
    grid-row-end: 2;
    background: var(--bg200);
}
.sidewrapHeader > .wrapper {
    height: 100%;
    padding: 0.5rem;
}

.sidewrapBody {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-columns: 1fr auto; */
    height: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: hidden;
}

.wrapper {
    padding: 0.5rem 0.5rem 0 0.5rem;
    /* border-radius: 4px; */
    border: 1px solid var(--bg800);
    background: var(--bg200);
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* align-items: flex-end; */
}
.sidewrapContent > .wrapper:nth-child(1) {
    padding-right: 1rem;
}
.sidewrapContent > .wrapper:nth-child(2) {
    border-left: 1px solid var(--bg800);
    padding-left: 1rem;
}

/* FormSideHints */
#FormSideHints {
    padding: 0;
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(7, 1fr) 0.5fr;
}
#FormSideHints > .nav {
    /* height: 100%; */
    /* max-height: 50%; */
    align-items: stretch;
    padding: 0;

    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
}
#FormSideHints > .nav > .wrapper {
    width: 50%;
    overflow-y: hidden;
    height: 100%;
    padding: 0.5rem;
}
#FormSideHints > .nav > .wrapper:nth-child(1) {
    border-radius: 25px 0 0 0;
}
#FormSideHints > .nav > .wrapper:nth-child(2) {
    border-radius: 0 25px 0 0;
}

.hintsListWrap {
    font-size: 12px;
    height: 100%;
    /* serve grid ? */
    display: grid;
    grid-template-rows: repeat(13, 1fr);
}

.hintsListHeader {
    border-bottom: 1px solid var(--bg800);
    padding: 0 0.25rem 0.25rem 0.25rem;
    grid-row-start: 1;
    grid-row-end: 4;
}

.hintsListHeader > p:first-child {
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 0.2rem 0;
}

.hintsListHeader > p:nth-child(2) {
    font-size: 11px;
    color: var(--bg800);
    margin: 0.15rem 0 0.15rem 0;
    line-height: 13px;
}

.hintsListWrap > .hintsListFormWrap {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-row-start: 4;
    grid-row-end: 14;
}
.hintsListWrap > .hintsListFormWrap > form {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    height: 100%;
}
.hintsListWrap > .hintsListFormWrap > form > .hintsWrap {
    /* height: 150px; */
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 0.25rem;

    /* border: 1px solid var(--bg800); */
    background: var(--bg300);
}
.hintsListWrap > .hintsListFormWrap > form > .hintsWrap > div {
    margin: 0.1rem 0;
}
.hintsListWrap > .hintsListFormWrap > form > .buttonsWrap {
    justify-self: flex-end;
    border-top: 1px solid var(--bg800);
    padding-top: 0.5rem;
}
.hintsListWrap > .hintsListFormWrap > form > .buttonsWrap > button {
    border-radius: 4px;
    width: 70px;
    margin: 0 0.25rem;
    font-size: 12px;
    /* TODO 🧠🧠🧠 */
}
.hintsListWrap > .hintsListFormWrap > form > .buttonsWrap > button:first-child {
    margin: 0 0.25rem 0 0;
}

.finalResultWrap {
    padding: 0.5rem 0.5rem 0 0.5rem;
    /* border-radius: 4px; */
    border: 1px solid var(--bg800);
    background: var(--bg200);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    grid-row-start: 5;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 3;
}
.hintsListBody {
    font-size: 12px;
}
.hintsListBody p {
    margin: 0.15rem 0;
}
.finalResultElement {
}
.missingElement {
    color: green;
}
.removedElement {
    color: red;
    text-decoration: line-through;
}

.sideHintsFooter {
    padding: 0.5rem 0.75rem;
    border-radius: 0 0 25px 25px;
    border: 1px solid var(--bg800);
    background: var(--bg200);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-self: flex-end; */
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 3;
}
.sideHintsFooter > button {
    font-weight: bold;
}

/* 🧠🧠🧠 MAKE GRID INSTEAD OF FLEX  🧠🧠🧠 */
