.infoWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--bg200);
    border: 1px solid var(--bg600);
    border-radius: 12px;
    max-height: 750px;
}
.infoWrap h1 {
    margin: 1.5em 0 2em 0;
}

/* ROW */
.row {
    display: grid;
    grid-template-columns: 160px 1fr;
    align-items: center;
    margin: 0.8rem 0;
    font-size: 14px;
}

/* per quando abbiamo solo span */
.row > span:nth-child(1) {
    margin-right: 1.5rem;
    font-weight: bold;
    color: var(--color000);
    margin-bottom: 0.8em;
    align-self: flex-start;
}
/* per quando abbiamo div con più elements */
.row > div:nth-child(1) {
    margin-right: 1.5rem;
    margin-bottom: 0.8em;
    align-self: flex-start;
    display: flex;
    align-items: baseline;
}
.row > div:nth-child(1) > span:nth-child(1) {
    font-weight: bold;
    color: var(--color000);
}
.row > div:nth-child(1) > a:nth-child(2) {
    margin-left: 1em;
    font-size: 12px;
}
.row > div:nth-child(1) > a:nth-child(2):hover {
    text-decoration: underline;
}

.row > div {
    display: flex;
    flex-wrap: wrap;
}

.rowEl,
.rowElWrapper {
    border-radius: 25px;
    padding: 4px 10px;
    background-color: var(--bg500);
    text-align: center;
    transition: 0.15s ease;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
}
.rowElWrapper {
    display: flex;
    justify-content: space-between;
}
.rowElWrapper > a {
    padding: 0 4px;
}
.rowElWrapper > a:nth-child(2) {
    font-weight: bold;
}
.rowElWrapper > a:hover {
    text-decoration: underline;
}
.rowEl:hover,
.rowElWrapper:hover {
    background-color: var(--bg700);
}
.undefinedEl {
    margin-left: 0.6em;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
    width: auto;
    display: inline-block;
}
.row p {
    margin: 0;
}

/* GRID ROW FOR CLIPS */
/* QUESTO STYLE È UGUALE O SIMILE A QUELLO IN Home.Module.css e Displayers.module.css */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
}
.grid p {
    margin: 0;
}
.grid > a {
    margin: 0 0.7em 1em 0.7em;
}
.grid > a > div {
    width: 250px;
    height: 320px;
    border: 2px solid var(--bg600);
    background-color: var(--bg400);
    transition: 0.2s ease;
    border-radius: 12px;
}
.grid > a > div:hover {
    background-color: var(--bg500);
    border: 2px solid var(--text);
}

.grid > a > div img {
    border-radius: 12px 12px 0 0;
}

.grid > a > div > div:nth-child(1) {
    width: 100%;
    height: 80%;
    height: 250px;

    /* border: 2px solid var(--text); */
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    object-position: center;
    background-size: cover;
    background-attachment: scroll; /* importante per proporzioni su ios */
}
.grid > a > div > div:nth-child(2) {
    width: 100%;
    height: 70px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.subtitle {
    font-size: 12px;
    color: grey;
    margin-top: 2px;
}
.rating {
    font-size: 12px;
    padding-left: 8px;
}

/* COUNTER ROW */
.counterWrap {
    display: flex;
    /* flex-direction: column; */
}
.counterWrap button {
    height: 20px;
    width: auto;
    cursor: pointer;
}

.recordsWrap > span {
    cursor: pointer;
}
.recordsWrap > span:hover {
    text-decoration: underline;
}

/* .recordsUI {
    padding: 0.8em;
    border: 1px solid var(--text);
    border-radius: 15px;
}
.recordsUI > div > span:nth-child(1) {
    margin-right: 0.8em;
}
.recordsUI > div > span:nth-child(2) {
    cursor: pointer;
    font-weight: bold;
    color: red;
} */

.buttonsWrap {
    /* margin-top: 3em; */
    margin: 0.5rem 0.25rem;
    display: flex;
    flex-wrap: wrap;

    /* flex-direction: column; */
}

.buttonsWrap button {
    width: 50%;
    margin: 0.5em;
    line-height: 2em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    flex-grow: 2;
}
.buttonsWrap button:hover {
    background-color: var(--bg700);
}
.overlay {
    height: 100%;
    width: 100%;
    background-color: var(--overlayB);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formWrapContainer {
    position: relative;
    height: 500px;
    width: 500px;
    overflow: hidden;
    background-color: var(--bg200);
}

/* RE-STYLE */

.elWrap {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 1fr) auto;
    min-height: 80vh;
    /* max-height: 120vh; */
    row-gap: 0.8rem;
    column-gap: 0.8rem;
    margin: 2rem 0;
    padding: 0.8rem;
    border: 1px solid var(--bg600);
    border-radius: 12px;
    background-color: var(--bg300);
    width: 100%;
    max-width: 1280px;
}

.picWrap {
    position: relative;
    height: 100%;
    width: 100%;
    /* margin-bottom: 0.3rem; */
}
.picWrap img {
    border-radius: 12px 12px 0 0;
}
.underPicWrap {
    /* height: 25%; */
    width: 100%;
    /* padding: 0.5rem 0; */
}
.underPicWrap h1 {
    padding: 0.7rem 0.5rem 0.7rem 0.5rem;
    margin: 0;
    font-size: 1.2em;
}

.infoHeadingWrap {
    display: flex;
    align-items: baseline;
    background-color: var(--bg100);
    border-radius: 12px 12px 0 0;
}
.infoHeadingWrap h3 {
    font-weight: lighter;
    font-size: 0.8rem;
    padding: 0 1em;
    line-height: 35px;
}
.infoHeadingWrap a,
.infoHeadingWrap span {
    font-weight: lighter;
    font-size: 0.75rem;
    padding: 0 0.5em;
    line-height: 35px;
}

/* .twoColRow {
    display: flex;
    overflow: hidden;
    max-height: 300px;
} */

.elRow {
    /* width: 100%; */
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: flex-start;
    /* margin-bottom: 0.5em; */
    border-bottom: 1px solid var(--bg600);
    /* max-height: 15vh; */
    /* overflow: hidden; */
    /* min-height: 35px; */
    max-height: 280px;
}

.elRowToScroll {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    display: grid;
    grid-template-columns: 100px 1fr;
    border-bottom: 1px solid var(--bg600);
    overflow: hidden;
    /* min-height: 35px; */
    height: 280px;
}

.elRow > span:nth-child(1),
.elRowToScroll > span:nth-child(1) {
    margin-right: 1.2rem;
    font-weight: bold;
    color: var(--color000);
    /* align-self: flex-start; */
    font-size: 0.8rem;
    width: 75px;
}
.elRow p,
.elRowToScroll p {
    margin: 0;
    font-size: 0.8rem;
}

.underPicWrap > .elRow {
    border-bottom: none;
    border-top: 1px solid var(--bg600);
    padding: 0.25rem 0.5rem 0.7rem 0.5rem;
}

.growRow {
    flex-grow: 1;
}

/* ACTOR */
#Actor > .infoWrap:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
}
#Actor > .infoWrap:nth-child(2) {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}
#Actor > .infoWrap:nth-child(3) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}
#Actor > .infoWrap:nth-child(4) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
}
#Actor > .infoWrap:nth-child(5) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}
/* STUDIO + DISTRIBUTION */
#Studio > .infoWrap:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
}
#Studio > .infoWrap:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}
#Studio > .infoWrap:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
}
#Studio > .infoWrap:nth-child(4) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}
/* CATEGORY + TAG */
#Category > .infoWrap:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
}
#Category > .infoWrap:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}
#Category > .infoWrap:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
}
#Category > .infoWrap:nth-child(4) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}
/* MOVIE */
#Movie > .infoWrap:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    flex-direction: column;
}
#Movie > .infoWrap:nth-child(2) {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
}
#Movie > .infoWrap:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 6;
}
#Movie > .infoWrap:nth-child(4) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 2;
}
#Movie > .infoWrap:nth-child(5) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
}

.tagsWrap,
.tagLabelsWrap {
    height: auto;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}
.tagLabelsWrap {
    max-width: 180px;
}

.tagLabel {
    font-size: 0.7em;
    font-weight: bold;
    border-bottom: 1px solid var(--text);
    width: 100%;
    margin: 0.8rem 0 0.2rem 0;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
    text-align: center;
    display: inline-block;
    background: var(--bg000);
}
.tagLabelsWrap > div:nth-child(1) > .tagLabel {
    margin: 0 0 0.3rem 0;
}
.tagLabelsWrap .tagEl {
    width: 130px;
}

.tagLabelsWrap > div > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagEl,
.tagElSmall,
.linkEl,
.tagElWithInfo {
    border-radius: 25px;
    padding: 0 10px;
    background-color: var(--bg500);
    text-align: center;
    transition: 0.15s ease;
    /* margin-right: 0.8em; */
    margin: 0.5rem 0 0 0;
    font-size: 0.75em;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
}

.tagEl {
    width: auto;
    margin: 0.5rem 0 0 0;
}
.tagElSmall {
    width: 100%;
}
.linkEl {
    width: 100%;
    /* max-width: 200px; */
}
.tagElWithInfo {
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
    column-gap: 0.5rem;
    width: 180px;
}
.tagElWithInfo p {
    overflow: hidden;
}

.tagsWrap > .tagEl:nth-child(1) {
    margin: 0 0.5rem 0 0;
}
.tagsWrap > .tagElSmall:nth-child(1),
.tagsWrap > .linkEl:nth-child(1) {
    margin: 0;
}

.tagEl:hover,
.tagElSmall:hover,
.linkEl:hover,
.tagElWithInfo:hover {
    background-color: var(--bg700);
}

.iconLink {
    margin: 0.25rem;
}
.iconLink:nth-child(1) {
    margin: 0.25rem 0.25rem 0.25rem 0;
}
.iconLink:last-child {
    margin: 0.25rem 0 0.25rem 0.25rem;
}
.iconLink svg {
    fill: var(--text);
    height: 24px;
    transition: 0.15s ease;
}
.iconLink svg:hover {
    fill: var(--color000);
    /* height: 26px; */
}

.clipsWrap {
    display: flex;
    flex-wrap: wrap;
    /* padding: 1em 0.75em 0 0.75em; */
    padding: 1em 0.25em 0 0.25em;
    overflow-y: auto;
    overflow-x: auto;
}

/* RECORDS ROW */
.recordsRow {
    /* width: 100%; */
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    /* margin-bottom: 0.5em; */
    border-bottom: 1px solid var(--bg600);
}
.recordsRow > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    margin-bottom: 0.5rem;
}
.recordsRow > div:nth-child(1) > span:nth-child(1) {
    margin-right: 1.2rem;
    font-weight: bold;
    color: var(--color000);
    /* align-self: flex-start; */
    font-size: 0.8rem;
    width: 75px;
}
.recordsRow > div:nth-child(1) > span:nth-child(2) {
    margin-right: 2rem;
}
.recordsRow > div:nth-child(1) > button:nth-child(3) {
    margin: 0;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    width: 24px;
    height: 24px;
    border: none;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color000);
}
.recordsRow > div:nth-child(1) > button:nth-child(3):hover {
    color: var(--bg600);
    background-color: var(--color000);
}
.recordsRow p {
    margin: 0;
    font-size: 0.8rem;
}

.recordsWrap {
    /* width: 100%; */
    border-top: 1px solid var(--bg600);
}
.recordsWrap span {
    font-size: 0.7rem;
}

.recordsUI {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    overflow-y: auto;
    max-height: 200px;
}
.record {
    display: flex;
    align-items: center;
    padding: 0.5em;
    border: 1px solid var(--text);
    border-radius: 15px;
    margin-top: 0.5em;
    margin-right: 0.5em;
}
.record > span:nth-child(1) {
    margin-right: 0.8em;
    line-height: 0.8rem;
}
.record > span:nth-child(2) {
    cursor: pointer;
    font-weight: bold;
    color: red;
    line-height: 0.8rem;
}
