/* ALL RECORDS */
.recordsGrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 120px);
}

.recordsGrid > div:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-bottom: 2rem;
}
.recordsGrid > div:nth-child(2) {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-bottom: 2rem;
}
.recordsGrid > div:nth-child(3) {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 9;
}
.recordsGrid > div:nth-child(4) {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 9;
}
.recordsGrid > div:nth-child(5) {
    grid-column-start: 7;
    grid-column-end: 9;
    grid-row-start: 5;
    grid-row-end: 9;
}

.section {
    background-color: var(--bg300);
    border: 1px solid var(--bg600);
    border-radius: 12px;
    width: 100%;
    max-width: 1280px;
    margin: 2rem 0 0 0;
    padding: 0.8rem;
    column-gap: 0.8rem;
    row-gap: 0.8rem;
}

.section > div {
    background-color: var(--bg200);
    border: 1px solid var(--bg600);
    border-radius: 12px;
}

/* GRAPHS */
.graphsGrid {
    display: flex;
}

.graphWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.graphContainer {
    padding: 0.5rem 0.8rem;
}

.graph {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0.8rem 0;
}

.graph > .el {
    height: 100%;
    flex: 1;
    /* min-width: 80px; */
    margin: 0 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.graph .column {
    height: 300px;
    display: flex;
    align-items: flex-end;
    width: 100%;
}
.graph .column > div {
    transition: 0.3s ease-out;
    width: 100%;
    background: var(--color200);
}
