/* TEST ENV */

#SessionPlaylistAddBtn {
    cursor: pointer;
    display: flex;
    position: relative;
    height: 20px;
    width: 20px;
}

.icon-wrap {
    background: red;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
}
.content {
    position: absolute;
    top: 0;
    right: 0;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    width: 0%;
    transition: 1s ease-in-out;
    transform: translateX(0);
    z-index: 1;
}

#SessionPlaylistAddBtn:hover .content {
    -webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
    width: 120px;
    transform: translateX(-25px);
}
