/* SEARCHBAR */
#Searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    position: relative;
}
#Searchbar > input {
    width: 300px;
    padding: 8px;
    /* font-size: 16px; */
    border-radius: 6px 0 0 6px;
    font-size: 12px;
    /* letter-spacing: 1px; */
}
#SearchBtn {
    cursor: pointer;
    padding: 9px;
    width: 70px;
    border-radius: 0 6px 6px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 1px;
}
#Searchbar > span {
    cursor: pointer;
    padding: 8px;
    font-size: 10px;
    position: absolute;
    right: -4rem;
}
#Searchbar > span:hover {
    text-decoration: underline;
}
